body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(245, 226, 201); */
    /* rgb(193, 205, 209) */
    background: linear-gradient(45deg, rgb(245, 226, 201), rgb(231, 173, 98));
}

body{
    display: flex;
    flex-direction: column;
}

#site_div{
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}

#article_content{
    /* background-color: rgb(193, 205, 209); */
    border-radius: 25px;
    margin: 0 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.article{
    width: 45%;
    margin: 1em;
}

a{
    text-decoration: none;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 8em;
    height: auto;
    background-color: rgb(213, 174, 123);
}

.footer_div{
    display: flex;
    flex-direction: column;
    width: auto;
    /* background-color: red; */
    align-items: center;
}

.footer_div_content{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    line-height: 25px;
}

#form_div{
    width: auto;
    height: auto;
    margin-top:10em;
    margin-bottom:5em;
    display: flex;
    justify-content: center;
}

.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
}

.myForm * {
    box-sizing: border-box;
}

.myForm fieldset {
    border: none;
    padding: 0;
}

.myForm legend, .myForm label {
    padding: 0;
    font-weight: bold;
}

.myForm label.choice {
    font-size: 0.9em;
    font-weight: normal;
}

.myForm input[type="text"],
.myForm input[type="tel"],
.myForm input[type="email"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
display: block;
width: 100%;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
}

.myForm textarea {
    height: 100px;
}

.myForm button {
    padding: 1em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-top: 1em;
}

.myForm button:hover {
    background: #ccc;
    cursor: pointer;
}






